<div id="task-index">
  <% if msg = flash[:notice] %>
    <div class="alert alert-success alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
        &times;
      </button>
      <strong><%= msg %></strong>
    </div>
  <% end %>
  <% if msg = flash[:error] %>
    <div class="alert alert-danger alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
        &times;
      </button>
      <strong><%= msg %></strong>
    </div>
  <% end %>
  <ul class="list-group" id="tasks">
    <div id="tasks_list">
      <%= render "tasks/list" %>
    </div>
    <li class='list-group-item' id="new-task-form">
      <%= form_tag("/tasks", method: "post") do %>
        <%= submit_tag("Add New Task", class: "btn btn-sm btn-primary") %>
        <%= text_field_tag(:name) %>
      <% end %>
    </li>
  </ul>
</div>
